*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 200px;
}


#box{
    height: 200px;
    width: 200px;
    background-image: url(https://images.unsplash.com/photo-1601225465185-780ff6d957b4?q=80&w=1064&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    
    /* transform: scale(5); */
    transform: rotateY(45deg);
}