*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#box1{
    color: aqua;
    background-color: rgb(0, 157, 255);
}

#box2{
    height: 200px;
    width: 200px;
    background: linear-gradient(red, blue);
}

#box3{
    height: 200px;
    width: 200px;
    background: radial-gradient(red, orange, yellow);
}

#box4{
    height: 200px;
    width: 200px;
    background: linear-gradient(orange, white, green);
}

#box5{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right, red, blue);
}

#box6{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right bottom, yellow, red);
}

#box7{
    height: 200px;
    width: 200px;
    background: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
}

